name: CML with R
on: [push]


defaults:
  run:
    working-directory: CML_with_R


jobs:
  run:
    runs-on: [ubuntu-latest]
    steps:
      - uses: r-lib/actions/setup-r@master
        with:
          r-version: '3.6.3'
      - uses: actions/checkout@v2
      - name: cml_run
        env:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          GDRIVE_CREDENTIALS_DATA: ${{ secrets.GDRIVE_CREDENTIALS_DATA }}
        run: |
          # Install R packages & dependencies
          R --silent -e "install.packages(c(\"randomForest\", \"e1071\", \"caret\", \"Rcpp\"))"
          
          # Install Python packages for dvc
          pip install --upgrade pip
          pip install wheel
          pip install PyDrive2==1.6.0 --use-feature=2020-resolver
          
          # Install DVC
          wget -c https://github.com/iterative/dvc/releases/download/1.7.2/dvc_1.7.2_amd64.deb
          sudo apt install ./dvc_1.7.2_amd64.deb
          
          # Run DVC
          dvc pull
          Rscript train.R
          
          # CML report
          echo "##Model Metrics" > report.md
          cat metrics.txt >> report.md
          cml-publish rf_model.png --md >> model_report.md